<ion-view title="Account" ng-init="getUserData()">
  <ion-content class="has-header padding">
    <!-- Miles/kilometers user choice -->
    <!-- Geo-radius slider -->
    <!-- Price-preference slider -->
    <div class="container--account">
      <span ng-click="reverse=!reverse; order('date',reverse)" class="date--account accountheader">date</span>
      <span ng-click="reverse = !reverse; order('title', reverse)" class="title--account accountheader">title</span>
      <span ng-click="reverse = !reverse; order('price', reverse)" class="price--account accountheader">currency</span>
      <div class="list--acount" ng-repeat="item in items">
      	<span class="date--account accountitem">{{item.date | date: format: timezone}}</span>
      	<span class="title--acount accountitem">{{item.title}}</span>
      	<span class="price--account accountitem">{{item.price | currency}}</span>
      </div>
    </div>
    <div class="sellButton" ng-click="routeToSell()"><h3>Sell an item</h3></div>
    <div class="logoutButton" ng-click="logoutUser()"><h3>Logout</h3></div>
  </ion-content>
</ion-view>